@charset "UTF-8";


body{}


.primary_background{
	background: #2196f3 !important;
	
	
}

.secondary_background{
	background: #ff9800 !important;
	
}

.banner_background{
clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 88%, 76% 96%, 50% 96%, 25% 94%, 0 100%, 0% 35%, 0 0);}